<!DOCTYPE html>
<html><head>
<title>{{ page.name_title }}</title>
<meta charset="UTF-8">
<meta name="description" content="" />
<script type="text/javascript" src="{{ rootUri }}/quickconcat.php?files=js/jquery.min.js,js/prettify.js,js/kickstart.js"></script>
<link rel="stylesheet" type="text/css" href="{{ rootUri }}/css/css.php?kickstart-buttons,kickstart-forms,kickstart-menus,kickstart-grid,kickstart-icons,jquery.fancybox-1.3.4,prettify,chosen,tiptip,kickstart,style" media="all" />

</head>
    <body>
	<a id="top-of-page"></a>
	<div id="wrap" class="clearfix">

	{% block menu %}
	    {{ bcms.MenuController.menuTree | raw }}		
	{% endblock %}
	 
<div class="col_12">
	<div class="col_9">

            {% block content %}
            {% endblock %}

	</div>
	
	<div class="col_3">

	    <ul class="menu1">
		{% for m1 in bcms.MenuController.menu(1) %}
		    <li><a href="{{ m1.url }}" {% if m1.is_active %}class="active"{% endif %}>{{ m1.name_menu }}</a>
			{% if m1.is_active and m1.has_childs and m1.id > 0 %}
			    <ul class="menu2">
				{% for m2 in bcms.MenuController.menu(2) %}
				    <li><a href="{{ m2.url }}" {% if m2.is_active %}class="active"{% endif %}>{{ m2.name_menu }}</a>
				    {% if m2.is_active and m2.has_childs %}
					<ul class="menu3">
					    {% for m3 in bcms.MenuController.menu(3) %}
						<li><a href="{{ m3.url }}" {% if m3.is_active %}class="active"{% endif %}>{{ m3.name_menu }}</a></li>
					    {% endfor %}
					</ul>					
				    {% endif %}
				    </li>
				{% endfor %}
			    </ul>           
			{% endif %}
		    </li>
		{% endfor %}
	    </ul>  	
	
	<h2>Meta</h2>
	    {% block sidebar %}
		    {% if user %}<h3>Hello, {{ user }}!</h3>{% endif %}
		    <ul>
		    <li class="current"><a href="{{ bcms.app.urlFor('home') }}">Home</a></li>
		    <li><a href="{{ bcms.app.urlFor('login') }}">Login</a></li></li>
		    <li><a href="{{ bcms.app.urlFor('logout') }}">Logout</a></li>
		    <li><a href="{{ rootUri }}/private">Private page</a></li>
		    </ul>		
	    {% endblock %}
	</div>
	
</div>


<div class="clear"></div>
<div id="footer">
&copy; 2012 All Rights Reserved.
<a id="link-top" href="#top-of-page">Top</a>
</div>

</div><!-- END WRAP -->
</body></html>