{% extends "layout.html.twig" %}


{% block content %}

    <h1>{{ page.name_page }}</h1>

    <ul class="menu2">
        {% for m in bcms.MenuController.submenu(page.id) %}
            <li><a href="{{ m.name_url }}">{{ m.name_menu }}</a></li>
        {% endfor %}
    </ul>

{{ page.content | raw }}

		<ul>
		    {% for m in bcms.MenuController.menu1 %}
			<li><a href="{{ bcms.app.urlFor('home') }}{{ m.name_url }}">{{ m.name_menu }}</a></li>
		    {% endfor %}
		</ul>
    <date>{{ page.date_created }}</date><br />
    <date>{{ page.date_changed }}</date>
{% endblock %}