<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ bcms.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/font/font-awesome.min.css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="/assets/font/font-awesome-ie7.min.css">
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/elfinder/css/jquery-ui.css">
	
    <link href="/assets/css/bcms.css" rel="stylesheet">	
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/iPhoneIcon_Big.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/iPhoneIcon_Medium.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/iPhoneIcon_Small.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/iPhoneIcon_Small.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" id="bcms" rel="tooltip" title="Open site in new window" href="{{ bcms.app.urlFor('home') }}" target="_blank">bcms</a>
	  
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/admin/pages"><i class="icon-list-alt icon-white"></i> Pages</a></li>
              <li><a href="/admin/files"><i class="icon-folder-open icon-white"></i> Files</a></li>
	      <li><a href="/admin/options"><i class="icon-wrench icon-white"></i> Options</a></li>
              <li><a href="/admin/news"><i class="icon-book icon-white"></i> News</a></li>
	      <li><a href="/admin/users"><i class="icon-">&#xf0c0;</i> Users</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
		  <li><a href="{{ bcms.app.urlFor('home') }}"><i class="icon-globe"></i> Your site home</a></li>
                  <li><a href="http://www.bcms.ru"><i class="icon-question-sign"></i> Help and Support</a></li>
                  <li><a href="https://github.com/prostoroman/bcms2">Github project page</a></li>
                  <li class="divider"></li>
                  <li><a href="http://twitter.github.com/bootstrap/base-css.html" target="_blank">Twitter bootstrap</a></li>
                  <li><a href="http://slimframework.com/">Slim Framework</a></li>
                  <li><a href="http://pimple.sensiolabs.org/">Pimple</a></li>
                </ul>
              </li>
	      
            </ul>
	    <ul class="nav pull-right">
		<li class="dropdown">
		  <a href="#" id="drop3" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ user }} <b class="caret"></b></a>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
			<li><a href="#">My Profile</a></li>
			<li><a href="#">Change Password</a></li>
			<li><a href="#">Last login from</a></li>
			<li class="divider"></li>
			<li><a href="{{ bcms.app.urlFor('login') }}">Login</a></li>
			<li><a href="{{ bcms.app.urlFor('logout') }}">Logout</a></li>
		    </ul>
		</li>
	    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">

	<div id="message">
	    {% include 'admin/messages.twig' %}
	</div>
	    
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; 2012 bcms</p>
      </footer>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/js/path.min.js"></script>

    {% include 'admin/elfinder.twig' %}
    
    <!-- BCMS -->
    <script type="text/javascript" src="/assets/js/bcms.js"></script>
    
  </body>
</html>