{% extends "admin/layout.html.twig" %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
	<div class="span9">
	    <h1>Pages <small>Manage pages list</small></h1>
	</div>
	<div class="span3">
	    <a href="/admin/pages/add" class="btn btn-large btn-primary pull-right"><i class="icon-plus icon-white"></i> Add new page</a>
	</div>
    </div>
    <hr>
<form action="" id="mass-actions" method="post">
    <table class="table table-hover">
	<thead>
	    <tr>
		<th class="url">Url</th>
		<th class="name">Name</th>
		<th class="info"></th>
		<th class="move-controls">Actions</th>
		<th class="check"><label><input type="checkbox" name="pages[]" class="selectAll"></label></th>
	    </tr>
	</thead>
	<tbody>

	{% for links in bcms.PageController.menuTree() %}
	    {{ _self.links(links, loop) }}
	{% endfor %}
	    
	<tr>
	    <td colspan="5">
		<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		With selected
		<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><a href="#!/delete_many">Delete</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		</ul>
		</div>	
	    </td>
	</tr>
	
	</tbody>
    </table>
</form>
{% endblock %}

{% macro links(link, loopdata) %}
    {% set level = link.url | split('/') | length - 1 %}
    <tr>
	<td><a rel="tooltip" title="Open page in new tab" data-placement="right" target="_blank" href="{{ link.url }}"><small><i class="icon-">&#xf0c1;</i></small></a></td>
        <td class="level-{{ level }}">
            <a href="/admin/pages/edit/{{ link.id }}" rel="tooltip" data-placement="right" title="Click to edit">{{ link.name_menu }}</a>
        </td>
	<td>
	    <!--{{ link.date_changed }}-->
	</td>
        <td class="actions">
            <a class="btn btn-mini" href="/admin/pages/edit/{{ link.id }}"><i class="icon-edit"></i> Edit</a>
            {% if link.url != '/' %}
            <a class="btn btn-mini{% if loopdata.first %} disabled{% endif %}" title="#!/move_up/{{ link.id }}" href="/admin/pages/move/{{ link.id }}/up"><i class="icon-arrow-up"></i></a>
            <a class="btn btn-mini{% if loopdata.last %} disabled{% endif %}" title="#!/move_down/{{ link.id }}" href="/admin/pages/move/{{ link.id }}/down"><i class="icon-arrow-down"></i></a>
            <a class="btn btn-danger btn-mini" href="/admin/pages/delete/{{ link.id }}"><i class="icon-trash icon-white"></i></a>
            
            {% endif %}
        </td>
        <td><input name="pages[{{ link.id }}]" type="checkbox"></td>
    </tr>
	{% if link.childs %}
	{% for child in link.childs %}
	{{ _self.links(child, loop) }}
	{% endfor %}
    {% endif %}
{% endmacro %}