{% extends "admin/layout.html.twig" %}

{% macro options(link) %}
{% spaceless %}
    {% set level = link.url | split('/') | length - 1 %}
    <option value="{{ link.id }}"{% if link.id == bcms.page.parent %} selected="selected"{% endif %} style="padding-left:{{ level * 10 }}px; font-size:{% if 14 - level < 11 %}{{ 11 }}{% else %}{{ 14 - level }}{% endif %}px">{{ link.name_menu }}</option>
    {% if link.childs %}
	{% for child in link.childs %}
	{{ _self.options(child) }}
	{% endfor %}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% block sidebar %}
{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span9">
	<h1>{% if bcms.page %}Edit page <small>"{{ bcms.page.name_menu }}"{% else %}Add new page{% endif %}</small></h1>
    </div>
    <div class="span3">
	<a href="/admin/pages/add" class="btn btn-large btn-primary"><i class="icon-plus icon-white"></i> Add new page</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
	<ul class="breadcrumb">
	    <li><a href="/admin">Admin</a> <span class="divider">/</span></li>
	    <li><a href="/admin/pages">Pages</a> <span class="divider">/</span></li>
	    <li class="active">{% if bcms.page %}Edit page "{{ bcms.page.name_menu }}"{% else %}Add new page{% endif %}</li>
	</ul>
	<form class="form-horizontal" action="" method="POST">
	<div class="control-group">
	    <label class="control-label">parent</label>
	    <div class="controls">
		<select name="parent">
		{% for option in bcms.PageController.menuTree() %}
		    {{ _self.options(option) }}
		{% endfor %}
		</select>
		<label class="checkbox">
		    <input type="checkbox" name="is_visible"{% if bcms.page.is_visible %} checked="checked"{% endif %}> Show in menu
		</label>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">Name</label>
	    <div class="controls">
		<input type="text" name="name_menu" value = "{{ bcms.page.name_menu }}" placeholder="name_menu">
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">Slug</label>
	    <div class="controls">
		<input type="text" name="name_url" value = "{{ bcms.page.name_url }}" placeholder="name_url">
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">Text</label>
	    <div class="controls">
		<textarea class="span12" name="content" rows="10">{{ bcms.page.content }}</textarea>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">template</label>
	    <div class="controls">
		<select name="template">
		    <option value=""{% if bcms.page.template ==  '' %} selected="selected"{% endif %}>Default</option>
		    {% for template in bcms.templates %}
			<option value="{{ template }}"{% if bcms.page.template ==  template %} selected="selected"{% endif %}>{{ template }}</option>
		    {% endfor %}		    
		</select>		
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">name_title</label>
	    <div class="controls">
		<input type="text" name="name_title" value = "{{ bcms.page.name_title }}" placeholder="name_title">
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">name_page</label>
	    <div class="controls">
		<input type="text" name="name_page" value = "{{ bcms.page.name_page }}" placeholder="name_page">
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">redirect_url</label>
	    <div class="controls">
		<input type="text" name="redirect_url" value = "{{ bcms.page.redirect_url }}" placeholder="redirect_url">
		<span class="help-block">Page will automatically redirect to this url</span>
	    </div>
	</div>
	<div class="control-group">
	    <label class="control-label">order</label>
	    <div class="controls">
		<input type="text" class="span1" name="order" value = "{{ bcms.page.order }}" placeholder="order">
	    </div>
	</div>
	<div class="form-actions">
	    <button type="submit" class="btn btn-primary">Save</button>
	    <a class="btn" href="/admin/pages">Cancel</button>
	    
	    <!-- Button to trigger modal -->
	    <a href="#deleteModal" role="button" class="btn btn-danger pull-right" data-toggle="modal">Delete</a>
	     
	    <!-- Modal -->
	    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3 id="myModalLabel">Delete page <small>"{{ bcms.page.name_menu }}"</small>?</h3>
		</div>
		<div class="modal-body">
		    <p>You will not be abble to undo this action.</p>
		</div>
		<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<a href="/admin/pages/delete/{{ bcms.page.id }}" class="btn btn-danger">Delete</a>
		</div>
	    </div>	    
	</div>	
	</form>
    </div>
    <div class="span3">
    </div>
</div>
{% endblock %}